<a href="/" class="float">
	<i class="fas fa-home my-float"></i>
</a>
<div class="label-container">
	<div class="label-text">Home</div>
	<i class="fas fa-home label-arrow"></i>
</div>

<div class="login-container from">
	<form ng-submit="vm.post()">
		<h2 id="title">Login</h2>
		<hr>
		<span><p>Username</p></span>
		<input type="text" name="username" placeholder="Username" ng-model="vm.username">
		<span><p>Password</p></span>
		<input type="password" name="password" placeholder="Password" ng-model="vm.password">
		<button class="button" type="submit">Login</button>
	</form>
</div>