body {
	font-family: 'Varela Round', sans-serif;
	text-align: center;
	background-color: #f1f1f1;
}

h1 {
	font-family: 'Varela Round', sans-serif;
}

.title {
	color: #EE4266;
	margin-top: 1.5rem;
}

.surl {
	background-color: white;
	text-align: center;
	margin-top: 1.2em;
	margin-bottom: 2em;
	box-shadow: 5px 5px 50px grey;
	display: block;
  	box-sizing: border-box;
  	border: 1px solid;
  	border-radius: 3px;
  	background-color: #fefefe;
  	box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  	line-height: 1.5;
  	color: #0a0a0a;
}

.table-head {
	color: #EE4266;
	padding: 5px 0px 5px 0px;
	background-color: #201a23;
	margin-bottom: 5px;
}

.table-data {
	color: #faa275;
}

p {
	word-wrap: break-word;
}