body {
	background-color: #4F4056;
	font-family: 'Varela Round', sans-serif !important;
}

h2 {
	font-family: 'Varela Round', sans-serif;
}

.button {
	font-family: 'Varela Round', sans-serif;
}

.container {
	font-family: 'Varela Round', sans-serif;
	color: #EE4266;
	background-color: white;
	text-align: center;
	width: 25%;
	min-width: 400px;
	height: auto;
	display: block;
	margin: 3rem auto auto auto;
	padding: 0.7rem 1.3rem 1.3rem 1.3rem;
	border: 1px white solid;
	border-radius: 3px;
}