body {
	background-color: #4F4056;
	font-family: 'Varela Round', sans-serif;
}

.button {
	background-color: #FAA275;
	border-radius: 0.5px;
}
.button:hover {
	background-color: #FFB996;
}

.header {
	margin: 30px 0px 30px 0px;
}

#title {
	color: #EE4266;
	font-family: 'Varela Round', sans-serif;
}

.body {
	width: 100%;
}

.input-field {
	display: block;
	margin: 0 auto;
}

#url-input {
	padding-right: 0;
}

#shorten-btn {
	padding-left: 0;
}

#title {
	text-align: center;
}